node_modules
dist
lib
updateFiles.bat
*.orig

debug.log

src/activities/domActivities/multipleChoiceDomActivity.css

testBooks/sample-dom-activity/Activity.css

src/bloom-player.css

*.bak

*storybook.log
src/l10n/bloom-player

