node_modules
dist
lib
updateFiles.bat
*.orig

debug.log

/src/l10n/l10n-all.json
/src/l10n/_locales/*
!/src/l10n/_locales/en

src/activities/domActivities/multipleChoiceDomActivity.css

testBooks/sample-dom-activity/Activity.css
